<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
  </head>
  <body>
    <%- include('../../shared/components/header/header') %>
    <header class="block about">
      <div class="block__wrapper about__wrapper">
        <h2 class="about__title">
          Fast <span class="about__text about__text--accent">React</span> Team
        </h2>
        <p class="about__description">
          See you at the cinema
        </p>
      </div>
    </header>
    <section class="block details" id="particle_canvas">
      <div class="block__wrapper">
        <h3 class="details__title">About UX-MEN</h3>
        <div class="details__section">
          <div class="detail">
            <div class="detail__background detail__background--top"></div>
            <div
              class="detail__background detail__background--bottom-right"
            ></div>
            <div class="detail__info">
              <h4 class="detail__title">Genres</h4>
              <ul class="detail__list">
                <li class="detail__item">Action</li>
                <li class="detail__item">Comedy</li>
                <li class="detail__item">Adventure</li>
                <li class="detail__item">Drama</li>
              </ul>
            </div>
          </div>
          <div class="detail">
            <div class="detail__background detail__background--top"></div>
            <div
              class="detail__background detail__background--bottom-right"
            ></div>
            <div class="detail__info">
              <h4 class="detail__title">Directed by</h4>
              <p class="detail__text">
                If you find our director, please call us.
              </p>
            </div>
          </div>
        </div>
        <div class="details__section details__section--center">
          <div class="detail">
            <div class="detail__background detail__background--top"></div>
            <div
              class="detail__background detail__background--bottom-right"
            ></div>
            <div class="detail__info">
              <h4 class="detail__title">Based On</h4>
              <p class="detail__text">
                <span class="detail__quotes">“</span>...Reality. Really. Once I could not set likes in my favorite social network <span class="detail__accent">PONTYgram</span>. 
                Then I noticed that the likes from my photos also disappeared! This terrified me,
                 because I was just shooting a new film, <span class="detail__accent">Iron Van</span>, and I needed money. Of course, 
                 thanks to the likes. The truth later turned out that I simply forgot to turn on the Internet ... 
                 But after all this story led to the creation of a new masterpiece of cinema <span class="detail__quotes">„</span>
              </p>
              <div class="detail__author">Lost Director</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="profiles">
        <h3 class="profiles__title">Cast</h3>
        <ul class="hero-list">
          <li class="hero-list__item">
            <div class="hero hero--serverman">
              <a class="hero__link" href="/serverman">
                <img
                  src="../../images/heroes/spiderman.png"
                  alt="serverman"
                  class="hero__image"
                />
              </a>
              <div class="hero__logo">
                <img
                  src="../../images/logos/server.svg"
                  alt="maven-logo"
                  class="hero__icon"
                />
              </div>
            </div>
          </li>
          <li class="hero-list__item">
            <div class="hero hero--widow">
              <a class="hero__link" href="/black-window">
                <img
                  src="../../images/heroes/widow.png"
                  alt="black-window"
                  class="hero__image"
                />
              </a>
              <div class="hero__logo">
                <img
                  src="../../images/logos/terminal.svg"
                  alt="maven-logo"
                  class="hero__icon"
                />
              </div>
            </div>
          </li>
          <li class="hero-list__item">
            <div class="hero hero--maven">
              <a class="hero__link" href="/captain-maven">
                <img
                  src="../../images/heroes/maven.png"
                  alt="coffeman"
                  class="hero__image"
                />
              </a>
              <div class="hero__logo">
                <img
                  src="../../images/logos/maven.svg"
                  alt="maven-logo"
                  class="hero__icon"
                />
              </div>
            </div>
          </li>
          <li class="hero-list__item">
            <div class="hero hero--storm">
              <a class="hero__link" href="/webstorm">
                <img
                  src="../../images/heroes/storm.png"
                  alt="storm"
                  class="hero__image"
                />
              </a>
              <div class="hero__logo">
                <img
                  src="../../images/logos/webstorm.svg"
                  alt="maven-logo"
                  class="hero__icon"
                />
              </div>
            </div>
          </li>
          <li class="hero-list__item">
            <div class="hero hero--coffeman">
              <a class="hero__link" href="/coffeeman">
                <img
                  src="../../images/heroes/superman.png"
                  alt="coffeman"
                  class="hero__image"
                />
              </a>
              <div class="hero__logo">
                <img
                  src="../../images/logos/coffeescript.svg"
                  alt="maven-logo"
                  class="hero__icon"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="block teamwork" id="particle_canvas_teamwork">
      <div class="block__wrapper">
        <h3 class="teamwork__title">Team Work</h3>
        <div class="teamwork__flex-container">
          <div class="teamwork__centered-block gitlink">
            <div class="gitlink__title">Find Us On Github</div>
            <div class="gitlink__container">
              <a
                href="https://github.com/iKozlinskyi/UX-Men"
                target="_blank"
                class="gitlink__link"
                ><img
                  src="../../images/logos/github.svg"
                  alt="github"
                  class="gitlink__image"
              /></a>
            </div>
          </div>
        </div>
    </section>
    <%- include('../../shared/components/footer/footer') %>
    <%- include('../../shared/components/scroll-top/scroll-top') %>
  </body>
</html>
