<div class="hero-card">
  <a href="#" class="hero-card__link">
    <div class="hero-card__photo hero-card__photo--<%= heroName.toLowerCase().split(" ").join("-") %>"></div>
    <span class="hero-card__name"><%= heroName %></span>
  </a>
</div>
