.footer {
  padding: 5%;
  background: $bg-color--dark;

  &__text-container {
    color: $light-transparent-0;
    text-align: center;
    font-family: $ff-text;
    text-transform: uppercase;
    font-weight: 200;
    word-spacing: 0.3em;
    font-size: 1.5em;
  }

  &__website-link {
    white-space: nowrap;
    text-decoration: none;
    color: $accent-color;
    border: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $accent-color;
    }
  }

}


