.button {
  width: 13.4615385em;
  padding: 1%;
  font-size: 26px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  @include animate(pulsation, 0.8s, 0, linear, infinite, alternate, none);

  &:hover {
    color: #ffffff;
    background: linear-gradient(to bottom left, #29545e, #387280);
    box-shadow: 2px 2px 8px #1e343d;
    animation-play-state: paused;
  }


}