body {

    @media (min-width: $bp-small) {
        font-size: $base-font-size*1.2;
      }
    
      @media (min-width: $bp-medium)  {
        font-size: $base-font-size*1.3;
      }
    
      @media (min-width: $bp-large)  {
        font-size: $base-font-size*1.4;
      }
    
      @media (min-width: $bp-xlarge)  {
        font-size: $base-font-size*1.6;
      }
}
