//-------------MIXINS------------------

//@mixin animate($name, $duration, $timing, $iteration, $direction) {
//    animation-name: $name;
//    animation-duration: $duration;
//    animation-timing-function: $timing;
//    animation-iteration-count: $iteration;
//    animation-direction: $direction;
//  }


@mixin animate($name, $duration, $delay, $timing, $iteration, $direction, $mode: none) {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-timing-function: $timing;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
    animation-fill-mode: $mode;
  }
  
  @mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }


  @mixin clipped-text($url, $text-stroke: 0) {
    background-image: url($url);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: $text-stroke;
  }

  @mixin basic-text($color) {
    font-family: $ff-text;
    font-weight: $light;
    color: $color;
  }
