//----------FONT-IMPORTS------------

@import url("https://fonts.googleapis.com/css?family=Oxanium:300,400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap");

//----------BREAKPOINTS-------------

$bp-xxsmall: 20em; // 320px
$bp-xsmall: 36em; // 576px
$bp-small: 48em; // 768px
$bp-medium-small: 61.25em; // 980px
$bp-medium: 64em; // 1024px
$bp-medium-large: 71.25em; // 1140px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

//----------FONT-FAMILY-------------

$ff-title: "Oxanium", cursive;
$ff-text: "Montserrat", sans-serif;

$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Comfortaa", cursive;
$ff-tertiary: "Roboto Condensed", sans-serif;

//----------FONT-WEIGHT-------------

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//-------------BASE FONT-SIZE------------------

$base-font-size: 16px;

//-------------COLORS------------------
$primary-color: #5e6e4a;
$primary-color--lighter: #a0bb7f;
$secondary-color: #adafac;
$secondary-color--lighter: #dddfdb;
$tertiary-color: #956050;
$tertiary-color--lighter: #d48a73;

$bg-color--light: #b1b1b1;
$bg-color--dark: #191919;

$accent-color: #6cd1eb;
$accent-color-90: #14e9ffe6;
$accent-color--about: #6cd1eb;
$accent-color--maven: #ebc96c;
$accent-color--odnoklassniki: #eb9b6c;

$terminal-color: #1ff042;
$ocean-color: #0000CD;
$attention-color: #b6002f;
$signal-color: #eb474c;
$danger-color: #f1a3a3;
$warning-color: #f1c0a3;
$success-color: #cef1a3;

$text-color--neutral: rgba(41, 41, 41, 0);
$text-color--neutral2: #808080;
$text-color--dark: rgb(82, 82, 82);
$text-color--light: rgb(255, 255, 255);

$bg-story--light: rgb(240, 240, 240);
$bg-shape-light: #e7e7e7;


$text-story-light: rgba(82, 178, 194, 0.64);
$stroke-color: #2bf5ff;

$dark-transparent-0: rgb(0, 0, 0);
$dark-transparent-80: rgba(0, 0, 0, 0.8);
$dark-transparent-70: rgba(0, 0, 0, 0.7);
$dark-transparent-50: rgba(0, 0, 0, 0.5);
$dark-transparent-40: rgba(0, 0, 0, 0.4);


$light-transparent-0: rgb(255, 255, 255);
$light-transparent-30: rgba(255, 255, 255, 0.3);



//-------------ANIMATIONS------------------

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

@keyframes large-scale-down {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes pulsationBig {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

