//----------FONT-IMPORTS------------

@import url("https://fonts.googleapis.com/css?family=Oxanium:300,400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap");

//----------BREAKPOINTS-------------

$bp-xxsmall: 20em; // 320px
$bp-xsmall: 36em; // 576px
$bp-small: 48em; // 768px
$bp-medium-small: 61.25em; // 980px
$bp-medium: 64em; // 1024px
$bp-medium-large: 71.25em; // 1140px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

//----------FONT-FAMILY-------------

$ff-title: "Oxanium", cursive;
$ff-text: "Montserrat", sans-serif;

$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Comfortaa", cursive;
$ff-tertiary: "Roboto Condensed", sans-serif;

//----------FONT-WEIGHT-------------

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//-------------BASE FONT-SIZE------------------

$base-font-size: 16px;

//-------------COLORS------------------
$primary-color: rgb(94, 110, 74);
$primary-color--lighter: rgb(160, 187, 127);
$tertiary-color: rgb(149, 96, 80);
$tertiary-color--lighter: rgb(212, 138, 115);

$accent-color--maven: rgb(235, 201, 108);
$accent-color--serverman: rgb(209, 53, 30);
$accent-color--odnoklassniki: rgb(235, 155, 108);

$terminal-color: rgb(31, 240, 66);
$ocean-color: rgb(0, 0, 205);
$attention-color: rgb(182, 0, 47);
$signal-color: rgb(235, 71, 76);
$danger-color: rgb(241, 163, 163);
$warning-color: rgb(241, 192, 163);
$success-color: rgb(206, 241, 163);

$bg-color--dark: rgb(25, 25, 25);
$neutral-transparent-0: rgba(41, 41, 41, 0);
$neutral-dark: rgb(82, 82, 82);
$neutral-common: rgb(128, 128, 128);
$neutral-light: rgb(177, 177, 177);

$bg-light-primary: rgb(240, 240, 240);

$text-story-light: rgba(82, 178, 194, 0.64);
$accent-color-90: rgba(20, 233, 255, 0.9);
$accent-color: rgb(108, 209, 235);
$stroke-color: rgb(43, 245, 255);

$dark-transparent-100: rgb(0, 0, 0);
$dark-transparent-80: rgba(0, 0, 0, 0.8);
$dark-transparent-70: rgba(0, 0, 0, 0.7);
$dark-transparent-50: rgba(0, 0, 0, 0.5);
$dark-transparent-40: rgba(0, 0, 0, 0.4);
$dark-transparent-0: rgba(0, 0, 0, 0);

$light-transparent-100: rgb(255, 255, 255);
$light-transparent-30: rgba(255, 255, 255, 0.3);

//-------------ANIMATIONS------------------

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

@keyframes large-scale-down {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes pulsationBig {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

//-------------THEMES------------------

$dark_color--text: #fff;
$dark_color--primary: #323232;
$dark_color--secondary: #202020;
$dark_color--accent: #ffac41;

$accent-color--maven: rgb(235, 201, 108);
$accent-color--odnoklassniki: rgb(235, 155, 108);

$terminal-color: rgb(31, 240, 66);
$ocean-color: rgb(0, 0, 205);
$attention-color: rgb(182, 0, 47);
$signal-color: rgb(235, 71, 76);
$danger-color: rgb(241, 163, 163);
$warning-color: rgb(241, 192, 163);
$success-color: rgb(206, 241, 163);
