<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captain Maven</title>
</head>
<body>
    <!-- <%- include('../../shared/components/header/header', {
    title: 'Heroes',
    links: [{name: 'landing', href: '/'}, {name: 'about', href: '/about'}]
}) %> -->
    


<!-- <%- include('../../shared/components/footer/footer') %> -->
</body>
</html>