// ------------------ POSTER SECTION ------------------
.poster {
  background: url("./images/backgrounds/landing-page/bg-image.jpg") no-repeat
    center top / cover;
  height: 100vh;
  // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  &__wrapper {
    font-family: $ff-tertiary;
    height: 100vh;
    // padding: 10em 0;
    @include flex(center, center, column);
  }

  &__text-container {
    background-color: black;
  }

  &__title {
    font-size: 8em;
    font-weight: $bold;
    font-family: $ff-title;
    text-transform: uppercase;
    color: $text-color--light;
  }

  &__accent {
    color: $accent-color;
  }
}

// ------------------ BEGIN STORY SECTION ------------------

.story {
  margin-top: -10%;
  display: flex;
  position: relative;
  // background-color: $bg-color--dark;
  background-color: rgb(240, 240, 240);
  padding: 14% 0 14% 0;

  &--gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
      url("./images/backgrounds/landing-page/bg-image.jpg") no-repeat center top /
        cover;
  }

  &--no-margin {
    margin-top: 0;
  }

  &--bugman {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    padding: 8% 0;
  }

  &--clip-left {
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  }

  &--clip-right {
    clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0 100%);
  }

  &--clip {
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 91%);
  }

  &__wrapper {
    width: 60%;
    margin: 0 auto;
  }

  &__article {
    margin: auto;
    text-align: center;

    margin-bottom: 5%;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
  }

  &__item {
    // flex: 0 1 50%;
    width: 40%;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    border: 4px solid $accent-color;
  }

  &__text {
    @include basic-text($text-color--light);
    // box-shadow: 7px -7px 0 #6cd1eb;
    font-size: 1.2em;
    padding: 5%;
    margin-top: 5%;
    // background-color: #191919;

    &--black {
      color: $text-color--dark;
    }

    &--framed {
      box-shadow: 7px -7px 0 $accent-color;
      background-color: $bg-color--dark;
    }

    &--odnoklassniki {
      color: $accent-color--odnoklassniki;
      text-transform: uppercase;
      font-weight: $bold;
      font-size: 2em;
    }
  }

  &__text-accent {
    color: $accent-color;
    font-style: italic;
  }
}

.no-likes {
  height: 700px;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: url("./images/backgrounds/landing-page/begin-story-bg2.jpg")
    center center no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-family: Oxanium, sans-serif;
    font-size: 25px;
    text-indent: 40px;
    width: 55%;
    color: white;
  }

  &__img-wrapper {
    position: relative;
    margin-top: 162px;
  }

  &__img {
    height: 350px;
  }

  &__left-tear {
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 20px solid blue;
    width: 0;
    height: 0;
    border-radius: 100%;
    animation-name: left-tears;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
  }

  &__left-tear1 {
    bottom: 66%;
    left: 36%;
    transform: rotate(60deg);
  }

  &__left-tear2 {
    bottom: 61%;
    left: 37%;
    transform: rotate(55deg);
  }

  &__left-tear3 {
    bottom: 65%;
    left: 26%;
    transform: rotate(55deg);
  }

  &__left-tear4 {
    bottom: 59%;
    left: 28%;
    transform: rotate(55deg);
  }

  &__left-tear5 {
    bottom: 53%;
    left: 30%;
    transform: rotate(45deg);
  }

  &__right-tear {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 20px solid blue;
    border-radius: 100%;
    animation-name: right-tears;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
  }

  &__right-tear1 {
    bottom: 66%;
    right: 35%;
    transform: rotate(-60deg);
  }

  &__right-tear2 {
    bottom: 61%;
    right: 33%;
    transform: rotate(-55deg);
  }

  &__right-tear3 {
    bottom: 65%;
    right: 24%;
    transform: rotate(-55deg);
  }

  &__right-tear4 {
    bottom: 59%;
    right: 25%;
    transform: rotate(-55deg);
  }

  &__right-tear5 {
    bottom: 53%;
    right: 28%;
    transform: rotate(-45deg);
  }
}

@keyframes left-tears {
  0% {
    margin-left: 0;
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    margin-left: -15%;
    margin-bottom: -30%;
    opacity: 0;
  }
}

@keyframes right-tears {
  0% {
    margin-right: 0;
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    margin-right: -15%;
    margin-bottom: -30%;
    opacity: 0;
  }
}

// ------------------ CONFLICT SECTION ------------------
.conflict {
  &__wrapper {
    padding: 6% 0;
  }

  &__text-wrapper {
    @include flex(space-between, center);
  }

  &__image-container {
    z-index: 1;
  }

  &__text-container {
    padding: 0 3% 1%;
    background-color: #000000cc;
    @include flex(center, center, column);
    z-index: 1;
  }

  &__story-text {
    font-size: 18px;
    box-shadow: 2px -2px 0 #2bf5ff;
    background-color: rgba(82, 178, 194, 0.64);
    padding: 1.11111111em;
    border-radius: 3px;
  }

  &__story-text--decorate {
    color: #14e9ffe6;
    font-weight: $bold;
  }

  &__story-text--text1 {
    width: 35.1111111em;
  }
  &__story-text--text2 {
    width: 27.111111em;
    margin-left: 30%;
    margin-top: 3%;
  }

  &__button-container {
    margin-top: 8%;
    text-align: center;
  }

  &__button {
    background-color: rgba(82, 178, 194, 0.64);
  }
}

// ------------------ TEAM SECTION ------------------

.team {
  background: url("./images/backgrounds/landing-page/team-section.png") center
    center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);

  &__container {
    padding: 8% 0;
  }

  &__text-container {
    margin: 3.8888888em 0;
    @include flex(space-around, flex-start);
    flex-wrap: wrap;
    padding-bottom: 0.8888888em;
    background-color: #000000cc;
  }

  &__story-text {
    font-size: 18px;
    box-shadow: 2px -2px 0 #2bf5ff;
    background-color: rgba(82, 178, 194, 0.64);
    padding: 1.11111111em;
    border-radius: 3px;
  }

  &__story-text--text1 {
    width: 23.611111em;
    order: 0;
  }

  &__story-text--text2 {
    width: 19.7222222em;
    order: 3;
    margin-top: -1.94444444em;
    margin-left: 8.88888888em;
  }

  &__story-text--text3 {
    order: 2;
    width: 27.22222222em;
  }

  &__story-text--text4 {
    order: 4;
    width: 21.66666666em;
    margin-right: 1.125em;
    margin-top: 1em;
  }

  &__story-text--decorate {
    color: #14e9ffe6;
    font-weight: $bold;
  }

  &__button-container {
    padding: 3.84615385em 0;
    text-align: center;
  }

  &__button {
    margin: 0 3%;
  }
}

// 1140px
@media (max-width: $bp-medium-large) {
  .team {
    &__story-text--text2 {
      margin-left: initial; //!!!!
    }

    &__story-text--text4 {
      width: 21.66666666em;
      margin-right: initial;
    }
  }
}

// 980px
@media (max-width: $bp-medium-small) {
  .team {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &__text-container {
      margin: 10%;
      @include flex(center, center, column);
      flex-wrap: wrap;
      padding-bottom: 2%;
    }

    &__story-text {
      font-size: 16px;
      margin: 2.5% 0;
    }

    &__story-text--text1 {
      width: 23.611111em;
      order: 1;
    }

    &__story-text--text2 {
      width: 30.611111em;
      order: 2;
    }

    &__story-text--text3 {
      order: 3;
      width: 23.611111em;
    }

    &__story-text--text4 {
      order: 4;
      width: 21.611111em;
    }

    &__button-container {
      padding: 0 0 8%;
      text-align: center;
    }

    &__button {
      margin: 1.5% 3%;
      width: 16.666666666em;
      padding: 1%;
      font-size: 24px;
    }
  }
}

// 576px
@media (max-width: $bp-xsmall) {
  .team {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

    &__text-container {
      margin: 1.875em;
      padding-bottom: 2%;
    }

    &__story-text {
      width: 75%;
    }

    &__button {
      width: 56%;
      padding: 1.2%;
      font-size: 4vw;
    }
  }
}

// ------------------ DEADLINE SECTION ------------------

.deadline {
  margin-top: -10%;
  background: url("./images/backgrounds/landing-page/deadline-section.png")
    center center no-repeat;
  background-size: cover;
  padding-top: 6%;
  font-family: $ff-text;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__title {
    white-space: nowrap;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: $bold;
    letter-spacing: 2px;
    height: 55px;
    margin-top: 120px;
  }

  &__button-container {
    padding: 10% 0;
  }

  &__button {
    width: 17.461538em;
    padding: 2%;
  }
}

.timer {
  margin-top: 100px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  height: 33%;
  display: flex;
  align-items: center;
  padding: 1.11111111em;
  border-radius: 3px;
  box-shadow: 2px -2px 0 #2bf5ff;
  background-color: rgba(82, 178, 194, 0.64);

  &__item {
    display: inline-block;
    font-size: 36px;
    text-align: center;
  }

  &__date {
    font-size: 68px;
    display: block;
    width: 190px;
    text-align: center;
  }
}

.pick-side {
  overflow: hidden;
  display: flex;
  height: 80vh;
  width: 100%;
  position: relative;
  background: url("https://opiniojuris.org/wp-content/uploads/29440531895_09f8f7f78c_k.jpg") center center;
  background-size: cover;


  &__title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    color: white;
  }

  &__background-root {
    height: 100%;
    width: 200%;
    left: -50%;
    position: absolute;
    background: rgb(0,58,88);
    background: linear-gradient(90deg, rgba(0,58,88,1) 0%, rgba(0,0,0,0) 34%, rgba(24,0,0,0) 65%, rgba(133,0,0,1) 100%);
    transition: 0.3s ease-out;
  }

  &__heroes {
    width: 50%;
    height: 100%;
    z-index: 10;
    position: relative;
  }

  &__villains {
    width: 50%;
    height: 100%;
    z-index: 10;
    position: relative;
  }

  $button-height: 75px;

  &__heroes-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: $button-height;
  }

  &__heroes-button:hover {
    color:#000000;
    background-color:lightblue;
  }

  &__villains-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: $button-height;
  }

  &__villains-button:hover {
    color:#000000;
    background-color: lightcoral;
  }
}

.glow-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  border-radius:0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Monospace', Helvetica, sans-serif;
  font-weight:300;
  font-size: 1.5em;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background: transparent;
  cursor: pointer;

}

@media all and (max-width:30em){
   .glow-button {
    display:block;
    margin:0.4em auto;
  }
}


