<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UX-Men</title>
  </head>
  <body>
    <%- include('../../shared/components/header/header') %>

    <div class="block poster">
      <div class="block__wrapper poster__wrapper">
        <h1 class="poster__title">
          <span class="poster__accent">UX</span>-Men
        </h1>
      </div>
    </div>

    <section class="block story story--no-margin">
      <div class="block__wrapper">
        <article class="story__article">
          <div class="story__wrapper">
            <p class="story__text story__text--black" data-aos="fade-up">
              For many years people and programmers had lived in harmony.
              <br />Without wars and code reviews.
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              But once...
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              ...something horrible did happen –
              <span class="story__text-accent">likes</span> from all social
              media had suddenly
              <span class="story__text-accent">started to disappear</span>.
            </p>
          </div>
        </article>
      </div>
    </section>

    <section class="block story story--gradient story--clip-right">
      <div class="block__wrapper">
        <article class="story__article">
          <div class="story__wrapper">
            <p class="story__text" data-aos="fade-up">
              And there was no possibility to like you friends’ pictures and no
              possibility to see who appreciated your posts.
            </p>
            <p class="story__text" data-aos="fade-up">
              There was <span class="story__text-accent">none</span>.
            </p>
          </div>
          <div class="story__row">
            <div class="story__item" data-aos="fade-right">
              <img
                src="../../images/landing/panic.jpg"
                alt="image-panic"
                class="story__image"
              />
            </div>
            <div class="story__item">
              <p class="story__text" data-aos="fade-up" data-aos-delay="50">
                The panic broke out.
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="block story story--clip-left">
      <div class="block__wrapper">
        <article class="story__article">
          <div class="story__row">
            <div class="story__item">
              <p
                class="story__text story__text--framed"
                data-aos="fade-up"
                data-aos-delay="50"
              >
                The world was standing on the verge of a total collapse.
                <br />And this is how our story begins.
              </p>
            </div>
            <div class="story__item" data-aos="fade-left">
              <img
                src="../../images/landing/collapse.jpg"
                alt="image-panic"
                class="story__image"
              />
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="block story story--gradient story--clip-right">
      <div class="block__wrapper">
        <article class="story__article">
          <div class="story__row">
            <div class="story__item" data-aos="fade-right">
              <img
                src="../../images/heroes/bugman.jpg"
                alt="Mantis in the hat, standing with a cane"
                class="story__image"
              />
            </div>
            <div class="story__item">
              <p class="story__text" data-aos="fade-up" data-aos-delay="50">
                It turned out that a notorious villain
                <span class="story__text-accent">Bugman</span> had edged into
                the Internet and broken the code of likes. The bugs he had made
                were spreading faster than a
                <span class="story__text-accent">coronavirus</span>.
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="block story story--clip-left">
      <div class="block__wrapper">
        <article class="story__article">
          <div class="story__row">
            <div class="story__item">
              <p
                class="story__text story__text--framed"
                data-aos="fade-up"
                data-aos-delay="50"
              >
                The governments around the globe gathered behind closed doors to
                find a solution. There was no time for second thoughts.
              </p>
            </div>
            <div class="story__item" data-aos="fade-left">
              <img
                src="../../images/landing/room.jpg"
                alt="Control room"
                class="story__image"
              />
            </div>
          </div>
          <div class="story__wrapper">
            <!-- <p class="story__text story__text--black" data-aos="fade-up">
              The governments around the globe gathered behind closed doors to
              find a solution. There was no time for second thoughts.
            </p> -->
            <p class="story__text story__text--black" data-aos="fade-up">
              It was instantly decided to create a
              <span class="story__text-accent">Fast React Team</span> of the
              most powerful <span class="story__text-accent">UX-Men</span> on
              Earth for this mission.
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              To stop Bugman and ruin his plans someone would have to find an
              intact piece of code and heal all other social media with it,
              fighing all bugs and going for that to the most
              <span class="story__text-accent">dangerous</span> and
              <span class="story__text-accent">inexplainable place</span> place
              of the Internet...
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              ...to...
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              ...
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              ...
            </p>
            <p class="story__text story__text--black" data-aos="fade-up">
              ...
            </p>

            <p
              class="story__text story__text--black story__text--odnoklassniki"
              data-aos="fade-up"
              data-aos-delay="1000"
            >
              Odnoklassniki
            </p>
          </div>
        </article>
      </div>
    </section>

    <!-- <section class="deadline">
    <div class="block__wrapper deadline__container">
        <div class="deadline__title"></div>
        <ul class="timer">
            <li class="timer__item"><span id="days" class="timer__date"></span>days</li>
            <li class="timer__item"><span id="hours" class="timer__date"></span>Hours</li>
            <li class="timer__item"><span id="minutes" class="timer__date"></span>Minutes</li>
            <li class="timer__item"><span id="seconds" class="timer__date"></span>Seconds</li>
        </ul>
        <div class="deadline__button-container">
            <button class="button deadline__button">You cannot stay aside!</button>
        </div>
    </div>-->
</section>
<section class="pick-side">
    <div class="pick-side__background-root">

    </div>
    <div class="pick-side__side">
        <button class="pick-side__side-button pick-side__side-button--heroes glow-button">Heroes</button>
    </div>
    <div class="pick-side__side">
        <button class="pick-side__side-button pick-side__side-button--villains glow-button">Bugman</button>
    </div>
    <h2 class="pick-side__title">
        Which side would you choose?
    </h2>
</section>

    <%- include('../../shared/components/footer/footer') %>
  </body>
</html>
