<header class="header">
  <nav class="header__navigation nav">
    <input type="checkbox" id="heroes_dropdown_button" />
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="/">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="/">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link--dropdown" href="#" class="nav__item"
          ><label for="heroes_dropdown_button" class="nav__label">Heroes</label></a
        >
        <ul class="nav__list nav-dropdown">
          <li class="nav-dropdown__item">
            <a class="nav-dropdown__link" href="/blackwindow">Black Window</a>
          </li>
          <li class="nav-dropdown__item">
            <a class="nav-dropdown__link" href="/maven">Captain Maven</a>
          </li>
          <li class="nav-dropdown__item">
            <a class="nav-dropdown__link" href="/coffeman">Coffeman</a>
          </li>
          <li class="nav-dropdown__item">
            <a class="nav-dropdown__link" href="/serverman">Serverman</a>
          </li>
          <li class="nav-dropdown__item">
            <a class="nav-dropdown__link" href="/webstorm">Web Storm</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
