.power {
    width: 8em;
    height: 8em;
    display: flex;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 0 0 5px $text-color--neutral2;
    background-color: $light-transparent-0;
    cursor: pointer;
    position: relative;

    &__icon {
        width: 80%;
        margin: auto;
    }
    &__image {
        width: 100%;
        height: auto;
        display: block;
    }

    &__hover {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        background-color: $light-transparent-0;
        box-shadow: 0 0 8px $text-color--neutral2;
        border-radius: 1em;
    }

    &:hover > &__hover {
        display: block;
        padding: 1.5em 1em;
    }

    &:hover > &__icon {
        display: none;
    }

    &:hover {
        width: 15em;
        background-color: transparent;
        box-shadow: none;
    }

    &__title {
        font-size: 1.5em;
        font-weight: $semi-bold;
        font-family: $ff-title;
        margin-bottom: 0.6em;

        &--maven {
            color: $accent-color--maven;
        }

        &--storm {
            color: $accent-color--maven;
        }

        &--coffeman {
            color: $accent-color--maven;
        }

        &--serverman {
            color: $accent-color--maven;
        }

        &--widow {
            color: $accent-color--maven;
        }
    }

    &__description {
        font-family: $ff-text;
        text-align: left;
    }
}