.superhero__story {

  &-blackWindow {
    min-height: 350px;
    background-color: black;
    color: #1ff042;
    padding: 30px;
    text-align: justify;
  }

  &-description {
    display: inline-block;
  }

  &-cursor {
    width: 12px;
    height: 22px;
    background-color: #1ff042;
    display: inline-block;
    animation-name: cursor-blink;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
  }
}

.superhero__image-container-blackWidow {
  margin-right: 220px;
}

.introduction--black-window {
  background-position: 5% 35%;
}



@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: $bp-medium) {
  .superhero__image-container-blackWidow {
    margin: 0 auto;
  }
}